<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Date of next appointment:</strong>
  <%= @customer.date_of_next_appointment %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @customer.reason_for_visit %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
