<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.select("doctor_id", Doctor.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'select doctor'}) %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.select("customer_id", Customer.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'select customer'}) %>
  </div>
  <div class="field">
    <%= f.label :date_of_visit %><br>
    <%= f.date_select :date_of_visit %>
  </div>
  <div class="field">
    <%= f.label :pet %><br>
    <%= f.text_field :pet %>
  </div>
  <div class="field">
    <%= f.label :requires_reminder_of_appointment %><br>
    <%= f.check_box :requires_reminder_of_appointment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
